train_dir=data/train_iobes.txt
dev_dir=data/dev_iobes.txt
test_dir=data/test_iobes_noisy.txt
model_dir=data/lstmcrf
word_emb_dir=data/glove.6B.100d.txt

# raw_dir=xx    #string (optional). Set input raw file directory.
# decode_dir=xx    #string (necessary in decoding). Set decoded file directory.
# dset_dir=model/lstmcrf    #string (necessary). Set saved model file directory.
# load_model_dir=xx    #string (necessary in decoding). Set loaded model file directory. (when decoding)
# char_emb_dir=xx    #string (optional). Set pretrained character embedding file directory.

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=100
char_emb_dim=30

use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
# feature=[POS] emb_size=20 emb_dir=xx   #feature configuration. It includes the feature prefix [POS], pretrained feature embedding file and the embedding size. 
# feature=[Cap] emb_size=20 emb_dir=xx    #feature configuration. Another feature [Cap].
nbest=1

status=train
optimizer=SGD
iteration=40
batch_size=10
ave_batch_loss=False

cnn_layer=4
char_hidden_dim=30
hidden_dim=100
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=1e-3
l2=1e-8
gpu=False
#clip=     #float. Clip the gradient which is larger than the setted number.
